body {
    background-image: url(../images/trainBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
} 


#header {
    background: #962047;
    color: #ffffff;
    opacity: .88;
}

.card {
    padding: 10px;
    margin: 40px;
    border: 5px solid #962047;
    opacity: .9;

}

.card-header {
    background: #52d897;
    color: #ffffff5d;
}
